.section {
  margin: 0 auto;
  max-width: 1300px;
  padding: 80px 60px;

  &__intro {
    max-width: 350px;
    width: 100%;
    margin-bottom: 80px;
  }

  &__intro-heading {
    @mixin h-font;
    font-size: 2.5rem;
    color: var(--secondary-color);
  }
}