@import 'normalize.css';
@import 'utils/reset.pcss';
@import 'utils/fonts.pcss';
@import "utils/mixins.pcss";
@import 'utils/typo.pcss';
@import 'utils/variables.pcss';


@import "blocks/section.pcss";
@import "blocks/hero.pcss";
@import "blocks/mounts.pcss";


html {
  font-size: 16px;
}
body {
  background-color: var(--main-color);
  color: var(--font-color);
}